{
  "extends": [
    "@nuxtjs/eslint-config-typescript",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "vue/html-closing-bracket-spacing": "off",
    "vue/html-self-closing": ["error", { "html": { "void": "always" } }]
  }
}
